/* src/custom.css */
.bg-dark-custom {
    background: linear-gradient(45deg, #0a0a23, #0e0e39);
  }
  
  .text-white-custom {
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .logo-custom {
    max-width: 200px;
  }
  